**/target/
**/.git/
**/.idea/
**/.vscode/
**/*.iml
**/.metadata/
**/*.log
**/.mvn/
**/mvnw
**/mvnw.cmd
**/bin/
**/obj/
**/node_modules/
**/dist/
**/build/
.git
.idea
.vscode
*.iml
.metadata
*.log
.mvn
mvnw
mvnw.cmd
